---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [4]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [31]:
def answer_one():
    gold_df = df[df['Gold'] == df['Gold'].max()]
    return gold_df.index.values[0]

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [52]:
def answer_two():
    gold_diff = abs(df['Gold']-df['Gold.1'])
    return gold_diff.idxmax()
answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [53]:
def answer_three():
    df_one = df.where((df['Gold'] > 0) & (df['Gold.1'] > 0)).dropna()
    result =  abs(df_one['Gold']-df_one['Gold.1'])/(df_one['Gold']+df_one['Gold.1'])
    return result.idxmax()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [55]:
def answer_four():
    Points = df['Gold.2'] * 3 + df['Silver.2'] * 2 + df['Bronze.2'] 
    return Points

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [5]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [73]:
def answer_five():
    df50 = census_df[census_df['SUMLEV'] == 50]
    #df50 = df50.set_index(['STNAME']) #, 'CTYNAME'])
    #df50['freq'] = df50.groupby('STNAME')['STNAME'].transform('count')
    df_cnt = df50.groupby('STNAME').count().sort('SUMLEV')
    return df_cnt[-1:].index.values[0]

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:5: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

'Texas'

# Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [32]:
def answer_six():
    df6 = census_df[census_df['SUMLEV'] == 50]
    columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'CENSUS2010POP']
    df6 = df6[columns_to_keep]
    states = df6['STNAME'].unique()
#    print(states)
#    df6 = df6.sort(columns=['STNAME','CENSUS2010POP'], ascending=[0,0])
    return df6
#answer_six()

['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virginia'
 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming']

         STNAME             CTYNAME  CENSUS2010POP
1       Alabama      Autauga County          54571
2       Alabama      Baldwin County         182265
3       Alabama      Barbour County          27457
4       Alabama         Bibb County          22915
5       Alabama       Blount County          57322
6       Alabama      Bullock County          10914
7       Alabama       Butler County          20947
8       Alabama      Calhoun County         118572
9       Alabama     Chambers County          34215
10      Alabama     Cherokee County          25989
11      Alabama      Chilton County          43643
12      Alabama      Choctaw County          13859
13      Alabama       Clarke County          25833
14      Alabama         Clay County          13932
15      Alabama     Cleburne County          14972
16      Alabama       Coffee County          49948
17      Alabama      Colbert County          54428
18      Alabama      Conecuh County          13228
19      Alabama        Coosa County          11539
20      Alabama    Covington County          37765
21      Alabama     Crenshaw County          13906
22      Alabama      Cullman County          80406
23      Alabama         Dale County          50251
24      Alabama       Dallas County          43820
25      Alabama       DeKalb County          71109
26      Alabama       Elmore County          79303
27      Alabama     Escambia County          38319
28      Alabama       Etowah County         104430
29      Alabama      Fayette County          17241
30      Alabama     Franklin County          31704
...         ...                 ...            ...
3162  Wisconsin     Washburn County          15911
3163  Wisconsin   Washington County         131887
3164  Wisconsin     Waukesha County         389891
3165  Wisconsin      Waupaca County          52410
3166  Wisconsin     Waushara County          24496
3167  Wisconsin    Winnebago County         166994
3168  Wisconsin         Wood County          74749
3170    Wyoming       Albany County          36299
3171    Wyoming     Big Horn County          11668
3172    Wyoming     Campbell County          46133
3173    Wyoming       Carbon County          15885
3174    Wyoming     Converse County          13833
3175    Wyoming        Crook County           7083
3176    Wyoming      Fremont County          40123
3177    Wyoming       Goshen County          13249
3178    Wyoming  Hot Springs County           4812
3179    Wyoming      Johnson County           8569
3180    Wyoming      Laramie County          91738
3181    Wyoming      Lincoln County          18106
3182    Wyoming      Natrona County          75450
3183    Wyoming     Niobrara County           2484
3184    Wyoming         Park County          28205
3185    Wyoming       Platte County           8667
3186    Wyoming     Sheridan County          29116
3187    Wyoming     Sublette County          10247
3188    Wyoming   Sweetwater County          43806
3189    Wyoming        Teton County          21294
3190    Wyoming        Uinta County          21118
3191    Wyoming     Washakie County           8533
3192    Wyoming       Weston County           7208

[3142 rows x 3 columns]

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [61]:
def answer_seven():
    df7 = census_df[census_df['SUMLEV'] == 50]
    columns_to_keep = ['CTYNAME',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
    df7 = df7[columns_to_keep]
    df7['MaxDiff1011'] =abs(df7['POPESTIMATE2010']-df7['POPESTIMATE2011'])
    df7['MaxDiff1112'] =abs(df7['POPESTIMATE2011']-df7['POPESTIMATE2012'])
    df7['MaxDiff1213'] =abs(df7['POPESTIMATE2012']-df7['POPESTIMATE2013'])
    df7['MaxDiff1314'] =abs(df7['POPESTIMATE2013']-df7['POPESTIMATE2014'])
    df7['MaxDiff1415'] =abs(df7['POPESTIMATE2014']-df7['POPESTIMATE2015'])

#    df7 = df7.fillna(method='ffill')
    df7['MaxDiff'] = df7[['MaxDiff1011', 'MaxDiff1112', 'MaxDiff1213', 'MaxDiff1314', 'MaxDiff1415']].max(axis=1)
    
    df7 = df7.sort(columns='MaxDiff', ascending=0)
    
    return df7['CTYNAME'].iloc[0]

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:20: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [94]:
def answer_eight():
    df8 = census_df[census_df['SUMLEV'] == 50]
    columns_to_keep = ['STNAME',
                    'CTYNAME',
                   'REGION',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
    df8 = df8[columns_to_keep]
    df8['isin'] =df8.apply(lambda row: 'Washington' in row['CTYNAME'],axis=1)
    df8_sub = df8[((df8['REGION'] == 1) | (df8['REGION'] == 2)) & (df8['POPESTIMATE2015'] > df8['POPESTIMATE2014']) & (df8['isin'] == True)]
    return df8_sub[['STNAME','CTYNAME']]
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County